{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}KBCoding{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              "d-grey": "#161616",
              "md-grey": "#222222",
              "base-grey": "#2D2D2D",
              "l-grey": "#383838",
              "lighter-grey": "#616161",
              "a-green": "#7DE3A8",
              "a-yellow": "#EED17A",
              "a-purple": "#DEB8F6",
            },
          },
        },
      };
    </script>
    {% block css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="bg-d-grey text-white text-base min-h-screen">
    <nav class="w-full h-24 flex justify-center text-xl border-b-4 border-a-yellow">
      <div class="w-5/6 flex justify-between px-6">
        <div class="flex items-center">
          <a class="text-3xl" href="{% url 'home' %}">KBCoding</a>
        </div>
        <div class="flex justify-center flex-col">
          <ul class="flex">
            <li class="px-4 hover:text-l-grey">
              <a href="{% url 'home' %}?add=1" id="nav-add-project">Add a Project</a>
            </li>
            <li class="px-4 hover:text-l-grey">
              <a href="/api/docs/">API Docs</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="px-4 hover:text-l-grey">
                <a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
              </li>
            {% else %}
              <li class="px-4 hover:text-l-grey">
                <a href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if messages %}
      <div class="flex justify-center mt-4">
        <div class="w-5/6">
          {% for message in messages %}
            <div class="message-banner {% if message.tags %}message-{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% block content %}{% endblock content %}
    {% block modal %}{% endblock modal %}
    {% block inline_javascript %}{% endblock inline_javascript %}
  </body>
</html>
